@import "tailwindcss";

:root {
	color: black;
	background: rgb(240, 245, 250);
}

:root:has(body.dark) {
	color: white;
	background: black;
}

button {
	@apply hover:cursor-pointer;
}

@utility text-balance {
	text-wrap: balance;
}
